body, html {
  height: 100%; 
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Main container */
.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 20px;
  padding: 20px;
  background: #f0f4f8; 
  height: 100vh;
  box-sizing: border-box; 
  overflow: hidden; 
}

/* Inventory content */
.inventory-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px - 20px); 
  border-radius: 6px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Inventory grid */
.inventory {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px; 
  align-content: start; 
  margin-left:3%;
}

.item-name {
  flex: 1;
  text-align: center;
  font-size: 14px;
  color: #43484D;
  font-weight: bold;
  margin-right: 5px;
}

/* Individual item */
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: #eeebeb;
  border-radius: 6px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px; 
  margin-top:20px;
  min-height: 250px; 
  width:70%;
}

/* Set a fixed height for the images */
.item img {
  width: 100%;
  height: 140px; 
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 4px;
}

.item-details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
}

.item-row {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 4px;
}

.item-title {
  font-size: 14px;
  color: #43484D;
  font-weight: bold;
  margin-right: 5px;
}

.item-value {
  font-size: 14px;
  color: #43484D;
  text-align: left;
  width: 100%;
}


.item img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .item-details {
  }
}


@media (max-width: 1024px) {
  .inventory {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .inventory {
    grid-template-columns: repeat(1, 1fr); 
  }
}
